@using Microsoft.AspNetCore.Http
@model v3x.Models.People
@{
    ViewData["Title"] = "Attendance";
    Layout = "_Profile";


}
<script>
    function setDate() {


        var StartDate = new Date(document.getElementById("start_date").value)
        var EndDate = new Date(document.getElementById("end_date").value)

        var table = document.getElementById("myTable")

        if (table.rows.length > 0) {
            for (var i = table.rows.length - 1; i > 0; i--) {
                table.deleteRow(i);
            }
        }


        var body = document.createElement("TBODY");

        for (StartDate; StartDate <= EndDate; StartDate.setDate(StartDate.getDate() + 1)) {

            var row = document.createElement("TR");
            var status = document.createElement("TD");
            var date = document.createElement("TD");

            date.innerHTML = StartDate.toLocaleDateString()
            status.innerHTML = "<select class='dropdown'>" +
                "<option value='On'> On</option >" +
                "<option value='Off'> Off</option >" +
                "<option value='Absent'> Absent</option >" +
                "<option value='Leave'> Leave</option >" +
                "</select>"

            row.appendChild(date);
            row.appendChild(status);
            body.appendChild(row);
            table.appendChild(body);
        }

    }

    function chgJSON() {
        var myTab = document.getElementById('myTable');

        // LOOP THROUGH EACH ROW OF THE TABLE AFTER HEADER.
        for (i = 1; i < myTab.rows.length; i++) {

            // GET THE CELLS COLLECTION OF THE CURRENT ROW.
            var objCells = myTab.rows.item(i).cells;

            var date = objCells.item[0].value

            console.log(date)
           
        }

    }
</script>

<h1>Attendance</h1>
<p>
    Choose an employee's name:
    <select>
        @foreach (var emp in ViewData["Employee"] as IList<People>)
        {
            <option value="@emp.Name">@emp.Name</option>
        }
    </select>
</p>
<div>
    Start date: <input type="date" id="start_date" />
    End date: <input type="date" id="end_date" />
    <button onclick="setDate()">Go</button>
</div>

<table id="myTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
</table>

<button onclick="chgJSON()">Submit</button>

