@using Microsoft.AspNetCore.Http
@model v3x.Models.People
@{
    ViewData["Title"] = "Profile";
    Layout = "_Profile";
}

<h1>Profile</h1>
<p>Username: @Html.DisplayFor(mode => Model.Name)</p>

<button><a asp-action="TestPage">Test Page</a></button>
<button><a asp-action="Logout">Logout</a></button>

@Html.Partial("_People_table_view")
